.Cabecalho .BlocosCabecalhos {
    background-color: #C9F3AB;
    width: auto;
    height: 11vh;
    display: flex;
    flex-direction: row;
}

.Cabecalho .BlocosCabecalhos .Bloco1 {
    width: 6%;
    height: auto;
}

.Cabecalho .BlocosCabecalhos .Titulo {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Cabecalho .BlocosCabecalhos .Link1 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho .BlocosCabecalhos .Link2 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho .BlocosCabecalhos .Link3 {
    width: 8%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Titulo {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
}

#Link1,
#Link2,
#Link3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.PartePrincipal .blocos {
    background-color: #E8F5DD;
    width: auto;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.PartePrincipal .blocos .BlocosImagem {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlocosImagem img{
    border-radius: 50%;
    width: 15em;
    height: 15em;
    object-fit: cover;
  }

.PartePrincipal .blocos .BlocoVazioEsquerda {
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PartePrincipal .blocos .BlocosDescricao {
    width: 55%;
    height: auto;
}

.PartePrincipal .blocos .BlocosDescricao .TituloDescricao {
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    width: auto;
    height: 6rem;
    display: flex;
    align-items: center;
}

.PartePrincipal .blocos .BlocosDescricao .TextoDescritivo {
    text-align: left;
    font-size: large;
    display: flex;
    align-items: start;
    width: auto;
    height: 14em;
    line-height: 2;
}

.HobbiesTop {
    background-color: #F5F4F0;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.CardsHobbies,
.CardsTop {
    gap: 1em;
    display: flex;
}

.Hobbies {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
    justify-content: center;
    height: 40vh;
}

.Hobbies > h3{
    font-size: 1.5em;
    font-weight: bold;
}

.Top > h3{
    font-size: 1.5em;
    font-weight: bold;
}

.Top {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    height: 40vh;
}

.hobbie,
.top {
    width: 7vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
}

.Rodape {
    background-color: #C9F3AB;
    width: auto;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
}

.links {
    gap: 2em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logos img{
    background-color: black;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    object-fit: cover;
  }

.contato {
    gap: 2.5em;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.5em;
}